html {
  background: #ffffff;
  height: 100%;
}

body {
  font-family: $f_pts;
  color: #000000;
  font-size: 14px;
  min-width: 960px;
//  max-width: 1440px;
  height: auto;
  min-height: 100%;
  position: relative;
  background: #ffffff no-repeat;

  &.overlay {
    overflow: hidden;
  }
}

a {
  transition: .3s;
  text-decoration: none;
  color: $blue;
}
a:hover {
  color: $orange;
}

h1, h2, h3, h4, h5, h6, b {
  font-family: $f_ptsc;
  font-weight: 700;
}


h1 {
  font-size: 32px;
  margin-bottom: 24px;
}

h2 {
  font-size: 32px;
  margin-bottom: 52px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 15px;
}

section.main {
  max-width: 1183px;
  margin: 70px auto 0;

  .wraper {
    max-width: 1078px;
    position: relative;
    margin: 0 0 0 auto;
    padding-bottom: 75px;
  }

  &.w-border .wraper {
    border-bottom: #d9d9d9 1px solid;
  }

  p {
    font-size: 16px;
    line-height: 150%;
  }

  &.complex {
    margin-bottom: 100px;

    .top {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
    }

    p {
      max-width: 48%;
    }
  }

  .tabs {
    margin-top: 26px;
    margin-left: -17px;
    font-size: 16px;

    li {
      float: left;
      clear: left;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 0 31px 0 17px;
      min-height: 40px;
      line-height: 38px;
      color: $blue;
      margin-bottom: 9px;
      cursor: pointer;

      &:hover {
        color: $orange;
      }

      a {
        display: inline-block;
        margin-left: 16px;

        &.active {
          color: $black;
        }
      }

      &.active {
        border: #cdcdcd 1px solid;
        position: relative;
        color: $black;

        &:after {
          content: '';
          background: url(../img/tabs.png);
          background-size: 19px 40px;
          width: 19px;
          height: 40px;
          position: absolute;
          right: -1px;
          top: -1px;
        }
      }
    }
  }

  .tabs_content {
    position: relative;
    z-index: 1;
    margin-left: -106px;

    > div {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      opacity: 0;

      &.active {
        position: relative;
        opacity: 1;
        z-index: 3;
      }

      .consist {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 370px;
        padding-right: 40px;

        h4 {
          margin-bottom: 12px;
        }

        > span {
          display: inline-block;
          padding: 2px 12px;
          background: #1e90ff;
          border-radius: 4px;
          margin: 0 8px 8px 0;
          color: #ffffff;
        }
      }
    }
  }

  &.services {
    .tabs {
      float: right;
      width: 224px;

      li {
        float: none;
        padding: 0 31px;
      }

      li.active:after {
        background-image: url(../img/tabs_l.png);
        right: auto;
        left: -1px;
      }
    }

    .tabs_content {
      margin-right: 260px;

      > div {
        background: #f2f2f2;
        overflow: hidden;

        .img {
          float: left;

          img {
            display: block;
          }
        }

        .txt {
          padding: 36px 64px 36px 48px;
          margin-left: 366px;

          p {
            line-height: 150%;
          }

          a.btn {
            margin-top: 50px;
          }
        }
      }
    }
  }

  &.advantage {

    .press {
      float: left;
      width: 260px;

      article {
        p {
          padding-top: 24px;
        }
      }
    }

    ul {
      margin-left: 308px;

      li {
        padding: 10px 106px 35px 154px;
        min-height: 92px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 102px;
          height: 102px;
          background: no-repeat;
        }

        &:nth-child(1):before {
          background-image: url(../img/main/1.png);
        }
        &:nth-child(2):before {
          background-image: url(../img/main/2.png);
        }
        &:nth-child(3):before {
          background-image: url(../img/main/3.png);
        }
        &:nth-child(4):before {
          background-image: url(../img/main/4.png);
        }
      }
    }
  }

  &.cooperation {

    .left {
      float: left;
      width: 260px;

      article {
        p {
          padding-bottom: 24px;
        }
      }
    }

    ul {
      margin-left: 308px;

      li {
        padding: 10px 106px 35px 154px;
        min-height: 92px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 102px;
          height: 102px;
          background: no-repeat;
        }

        &:nth-child(1):before {
          background-image: url(../img/main/5.png);
        }
        &:nth-child(2):before {
          background-image: url(../img/main/6.png);
        }
        &:nth-child(3):before {
          background-image: url(../img/main/7.png);
        }
        &:nth-child(4):before {
          background-image: url(../img/main/8.png);
        }
      }
    }
  }

  &.success, &.projects {

    .carousel {
      margin-left: -106px;
      position: relative;

      img {
        display: block;
      }

      .prev {
        position: absolute;
        z-index: 5;
        background: url(../img/main/arrow.png);
        width: 24px;
        height: 44px;
        left: 106px;
        top: 50%;
        margin-top: -22px;
      }
      .next {
        position: absolute;
        z-index: 5;
        background: url(../img/main/arrow_r.png);
        width: 24px;
        height: 44px;
        right: 48px;
        top: 50%;
        margin-top: -22px;
      }

      .slider {
        position: relative;

        div  {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          opacity: 0;

          &.active {
            position: relative;
            z-index: 3;
            opacity: 1;
          }
        }
      }
    }


    h4 {
      margin-bottom: 6px;
    }

    .left {
      float: left;
      width: 260px;

      article {
        padding-top: 32px;

        img {
          display: block;
          margin-bottom: 20px;
        }

        p {
          padding-bottom: 24px;
        }
      }
    }

    .description {
      margin-left: 308px;
      background: #f2f2f2;
      padding: 32px 48px;

      h4 {
        max-width: 70%;
      }
      p {
        padding-bottom: 24px;
        max-width: 70%;
      }
      a.more {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  &.projects, &.textPage {
    h2, h1 {
      margin-bottom: 0;
    }

    .carousel {
      margin-top: 24px;
    }

    .proj-frame {
      border: #d9d9d9 1px solid;
      margin-top: 24px;
      margin-left: -106px;
      padding-left: 106px;

      .carousel {
        margin-left: -107px;
        margin-top: -1px;
      }
    }

    .content {
      margin-top: 60px;

      h2 {
        margin-bottom: 12px;
      }

      p {
        line-height: 150%;
        width: 60%;
        padding-bottom: 16px;

        &.note {
          width: 205px;
          float: right;
          font-size: 14px;
          font-style: italic;
          color: #9d9d9d;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            border-top: #979797 1px solid;
            left: 0;
            width: 57px;
            top: -10px;
          }
        }
      }

      h3 {
        margin-bottom: 12px;
        margin-top: 32px;
        font-size: 22px;
      }

      ul {
        padding-bottom: 24px;

        li {
          list-style: disc;
          line-height: 150%;
          padding-left: 10px;
          margin-left: 14px;
          font-size: 16px;
          margin-bottom: 6px;
        }

        &.links {
          color: $blue;
        }
      }

      ol {
        padding-bottom: 24px;

        li {
          list-style: decimal;
          line-height: 150%;
          margin-left: 14px;
          font-size: 16px;
          padding-left: 10px;
          margin-bottom: 6px;
        }

        &.links {
          color: $blue;
        }
      }

      .gallery {
        margin: 50px 0 50px -26px;
        overflow: hidden;

        .bigImg {
          position: relative;
          margin-bottom: 5px;

          img {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            opacity: 0;
            transition: .3s;
            
            &.active {
              position: relative;
              opacity: 1;
              z-index: 2;
            }
          }
        }
        .previews {
          span {
            float: left;
            margin-right: 5px;
            position: relative;
            cursor: pointer;

            img {
              display: block;
            }

            &.active:after {
              content: '';
              position: absolute;
              border: $orange 3px solid;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
            }
          }
        }
      }

      .accordion {
        padding: 24px 0;

        a.toggle {
          font-size: 16px;
          display: inline-block;

          &:before {
            content: '';
            background: url(../img/plus.png);
            width: 18px;
            height: 18px;
            display: inline-block;
            vertical-align: bottom;
            margin-right: 6px;
          }

          &.active:before {
            background-position: bottom;
          }

        }

        .text {
          border-left: #d9d9d9 1px solid;
          overflow: hidden;
          padding: 20px 0 10px 40px;
          margin-top: 20px;
          display: none;
        }
      }
    }
  }

  &.p404 {
    text-align: center;
    padding-top: 60px;

    h1 {
      font-size: 50px;
      margin: 0;
    }

    p + p {
      margin-top: 170px;
      margin-bottom: 20px;
    }
  }

  &.reviews {
    text-align: center;

    .wraper {
      margin: 0 auto;
    }

    ul {
      li {
        display: inline-block;
        margin: 20px 11px 30px;
        width: 160px;
        vertical-align: top;
        font-size: 16px;

        img {
          display: block;
          border: #d9d9d9 1px solid;
          margin: 0 auto 12px;
        }
      }
    }
  }

  &.contacts {
    font-size: 16px;
    line-height: 150%;
    max-width: none;

    .wraper {
      margin: 0 auto;
    }

    .address {
      font-size: 26px;
      font-family: $f_ptsc;
      font-weight: 700;
      display: block;
      line-height: 150%;
    }

    p {
      padding-top: 24px;

      b {
        display: block;
        font-family: $f_ptsc;
        font-weight: 700;
        font-size: 44px;
        line-height: 150%;
      }

      &:after {
        background: url("../img/footer/phone.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        content: "";
        height: 17px;
        display: inline-block;
        width: 23px;
      }

      & + div {
        margin-top: 80px;
        display: inline-block;
        padding: 20px 0;
        border-top: #dedede 1px solid;
        font-size: 20px;

        * {
          display: inline-block;
          margin: 0 16px;

          &.mail:before {
            content: '';
            background: url(../img/contacts/mail.png);
            width: 23px;
            height: 17px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -2px;
            margin-right: 7px;
          }

          &.skype:before {
            content: '';
            background: url(../img/contacts/skype.png);
            width: 21px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -2px;
            margin-right: 7px;
          }
        }
      }
    }
  }

  &.news {
    padding-right: 536px;
    position: relative;
    box-sizing: border-box;

    aside {
      width: 370px;
      right: 36px;
      top: 0;
      position: absolute;

      h3 {
        margin-bottom: 16px;
      }

      p {
        padding-bottom: 12px;
      }
    }

    article {
      margin-bottom: 30px;

      h3 {
        margin-bottom: 10px;
      }

      p {
        padding-bottom: 16px;

        img {
          float: right;
          margin: 0 0 12px 20px;
        }
      }

      > img {
        max-width: 100%;
        display: block;
        margin-bottom: 16px;
      }

      .date {
        display: inline-block;
        color: #9b9b9b;
        padding-left: 24px;
      }
    }

    .more {
      margin-top: -24px;
      margin-bottom: 60px;
      display: block;
      font-size: 22px;
      max-width: 100px;
      white-space: nowrap;
    }
  }


  &.call-us {
    margin-top: 0;

    .wraper {
      margin-left: 460px;
    }

    h2 {
      float: left;
      margin-bottom: 16px;

      & + span {
        font-size: 12px;
        display: inline-block;
        margin: 3px 0 0 32px;
        line-height: 150%;
      }
    }

    a.btn {
      clear: both;
      margin-top: 16px;
      width: 262px;
    }
  }

  &.production, &.complex-line {
    max-width: none;

    .wraper {
      max-width: none;
      margin: 0 36px;
    }

    h2 {
      font-size: 22px;
    }

    .tabs {
      margin: 0;
      width: 300px;
      float: left;
      clear: left;
      font-size: 16px;

      li {
        padding: 0;
        font-family: $f_ptsc;
        font-weight: 700;
        font-size: 16px;
        color: #000000;
        min-height: 8px;
        line-height: 32px;

        &.active {
          position: relative;
          z-index: 3;

          > a {
            height: 29px;
            line-height: 29px;
            display: inline-block;
            background: $blue;
            color: #ffffff;
            padding: 0 9px;
            margin-left: -9px;
            border-radius: 12px;
            font-weight: 700;
            transition: 0s;
            opacity: 1 !important;
          }
        }

        ul {
          margin-bottom: 16px;
          border-left: #ddeeff 1px solid;
          box-sizing: border-box;
          float: left;
          padding: 3px 0;
          margin-top: 4px;

          li {
            border-radius: 0;
            border-left: #ddeeff 1px solid;
            padding-left: 18px;
            height: 29px;
            min-height: 29px;
            line-height: 29px;
            margin: 3px 0 3px -1px;

            a {
              transition: 0s;
            }

            &.active {
              border-left: #0067cb 1px solid !important;
              position: relative;
              z-index: 3;

              a {
                height: 29px;
                line-height: 29px;
                display: inline-block;
                background: $blue;
                color: #ffffff;
                padding: 0 9px;
                margin-left: -9px;
                border-radius: 12px;
                font-weight: 700;
                opacity: 1;
              }
            }
          }
        }

        &.active {
          border: none;
          &:after {
            display: none;
          }
        }

        a {
          font-family: $f_pts;
          font-weight: normal;
          margin: 0;

          &:hover {
            opacity: .6;
          }
        }
      }
    }

    .content {
      margin-left: 310px;

      > div {
        height: 0;
        overflow: hidden;
        position: absolute;
        z-index: 1;

        &.active {
          position: relative;
          overflow: visible;
          height: auto;
          z-index: 2;
        }
      }

      .img {
        float: right;
        width: 300px;

        img {
          width: 300px;
          display: block;
          margin-bottom: 16px;
        }

        .availability {
          background: #40bf00;
          display: block;
          padding: 4px 20px;
          text-align: center;
          color: #ffffff;
          font-size: 16px;
          margin-bottom: 24px;
        }

        .leasing {
          display: block;
          right: 10px;
          top: 30px;
          width: 110px;
          height: 104px;
          background: url(../img/star-orange.png);
          text-align: center;
          padding: 26px 10px 0;
          margin: 0 auto;
          color: $black;
          font-size: 14px;
        }
      }

      .txt {
        margin-right: 340px;

        p {
          padding-bottom: 24px;
        }

        h4 {
          margin-bottom: 12px;
        }

        ul {
          padding-bottom: 24px;

          li {
            list-style: disc;
            line-height: 150%;
            margin-left: 14px;
            font-size: 16px;
            margin-bottom: 6px;
          }
        }
      }
    }
  }

  &.complex-line {
    max-width: 1183px;

    .content {
      > div {
        .line-img {
          padding-bottom: 70px;
          border-bottom: #d9d9d9 1px solid;
          margin-bottom: 28px;

          img {
            width: 100%;
          }

          .zoomIn {
            display: inline-block;
            color: $blue;
            font-size: 16px;
            margin-right: 9px;
            float: right;

            &:hover {
              color: $orange;
            }

            &:before {
              content: '';
              background: url(../img/zoom.png);
              width: 20px;
              height: 20px;
              display: inline-block;
              vertical-align: bottom;
              margin-right: 8px;
            }
          }
        }

        p {
          margin-bottom: 16px;
          line-height: 150%;
        }
      }
      .win {
        display: none !important;
      }
      .consist {
        position: relative;
        width: 370px;
        padding-right: 40px;

        h4 {
          margin-bottom: 12px;
        }

        > span {
          display: inline-block;
          padding: 2px 12px;
          background: #1e90ff;
          border-radius: 4px;
          margin: 0 8px 8px 0;
          color: #ffffff;
        }
      }
    }
  }

  .big-table {
    clear: both;
    margin-top: 40px;
    position: relative;

    h2 {
      position: absolute;
      left: 0;
      top: 53px;
    }

    .table-titles {
      position: absolute;
      z-index: 2;
      left: -10px;
      top: 95px;
      width: 436px;
      overflow: hidden;
      max-height: 400px;

      table {
        background: #ffffff;
        width: 100%;

        td span {
          display: block;
          padding: 10px 13px;
          border-radius: 6px 0 0 6px;
          overflow: hidden;
        }

        tr.hover {
          td span {
            background: #ddeeff;
          }
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 20;
      width: 9px;
      left: 425px;
      top: 95px;
      bottom: 0;
      background: url(../img/shadow_left.png) no-repeat;
      opacity: 0;
      transition: .5s;
    }
    &:after {
      content: '';
      position: absolute;
      z-index: 20;
      width: 9px;
      right: 0;
      top: 95px;
      bottom: 0;
      background: url(../img/shadow_right.png) no-repeat;
      background-size: 100% 100%;
      transition: .6s;
    }

    &.scrolled {
      &:before {
        opacity: 1;
      }
      &.end {
        &:after {
          opacity: 0;
        }
      }

      .table-titles {
        table {
          td span {
            float: left;
            border-radius: 6px;

            &.fullwidth {
              width: 426px;
              box-sizing: border-box;

              i {
                width: 50px;
              }
            }
          }
        }
      }
    }

    .table-content {
      padding-top: 95px;
      max-height: 400px;
      overflow: hidden;
      position: relative;
      z-index: 1;

      table {
        cursor: grab;

        &.ui-draggable-dragging, &.grabbed {
          cursor: grabbing;
        }

        td {
          padding: 10px 13px;

          &:first-child {
            min-width: 400px;
          }

          &:last-child {
            border-radius: 0 6px 6px 0;
          }
        }

        tr.hover {
          td {
            background: #ddeeff;
          }
        }
      }
    }

    table {
      font-size: 16px;

      tr {

        td {
          white-space: nowrap;

          i {
            float: right;
            width: 60px;
          }

          .tab {
            display: block;
            height: 1px;
            position: relative;
            padding: 0 13px;
            margin: 0 -13px;
            margin-top: -1px;
            top: -90px;
            box-shadow: #e6e6e6 0 24px 0;

            a {
              color: $blue;
              font-size: 16px;
              font-weight: $f_ptsc;
              padding: 5px 9px;
              position: relative;
              border-radius: 10px;
            }

            .availability {
              position: absolute;
              background: #40bf00;
              color: #ffffff;
              font-size: 12px;
              width: 75px;
              text-align: center;
              height: 16px;
              line-height: 15px;
              top: 30px;
              left: 50%;
              margin-left: -37px;
              border-radius: 0 0 4px 4px;
            }


            &.active a {
              background: $blue;
              color: #ffffff;
              z-index: 29;

              &:after {
                bottom: 100%;
                left: 50%;
                border: rgba(0, 103, 203, 0) solid 9px;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: #0067cb;
                margin-left: -9px;
              }

              .availability {
                top: 30px;
              }
            }

            &.active.fixed {
              a {
                position: absolute;
                margin-top: -5px;
                transition: 0s;

                &:before {
                  content: '';
                  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
                  background: -webkit-gradient(linear, left top, right top, color-stop(40%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
                  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%);
                  background: -o-linear-gradient(left,  rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%);
                  background: -ms-linear-gradient(left,  rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%);
                  background: linear-gradient(to right,  rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%);
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
                  position: absolute;
                  z-index: 2;
                  right: -7px;
                  top: 0;
                  height: 29px;
                  width: 7px;
                }
              }
            }
          }
        }
      }
    }
  }

  .more-table {
    border-top: #ddeeff 1px solid;
    border-bottom: #ddeeff 1px solid;
    text-align: center;
    margin: 37px 0 0;
    padding: 14px 0 17px;
    position: relative;

    &:after, &:before {
      top: -1px;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 5px;
      margin-left: -5px;
    }
    &:before {
      border-color: rgba(221, 238, 255, 0);
      border-top-color: #ddeeff;
      border-width: 6px;
      margin-left: -6px;
    }

    a {
      font-style: italic;
      color: $blue;
      display: inline-block;
      height: 20px;
      font-size: 17px;
      border-bottom: $blue 1px dotted;
    }
  }

  & + .call-us {
    clear: both;

    &.center {
      .wraper {
        margin: 0 auto;
        text-align: center;

        .btn {
          margin: 20px auto;
          font-size: 20px;
          height: 52px;
          line-height: 52px;
          width: 372px;
        }
      }
    }
  }


  .spinner {
    width: 32px;
    height: 32px;
    fill: $blue;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    margin-top: -40px;
    display: none;
  }

}

.squares {
  background: url(../img/main/full.jpg);
  background-size: cover;
  height: 386px;
  padding-top: 110px;
  text-align: center;
  color: #ffffff;


  button {
    width: 260px;
    margin:  0;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
  }


  h2 {
    margin-bottom: 24px;
  }

  p {
    font-size: 16px;
    line-height: 150%;
  }
}


form {
  width: 260px;
  margin: 36px auto;

  label {
    display: block;

    &:first-child {
      border-bottom: #bababa 1px solid;

      input {
        border-radius: 4px 4px 0 0;
      }
    }

    input {
      background: #ffffff;
      border: none;
      padding: 9px 16px 10px;
      height: 20px;
      line-height: 20px;
      color: $black;
      font-size: 16px;
      font-family: $f_pts;
      margin: 0;
      width: 228px;
    }
  }

  button {
    width: 260px;
    margin:  0;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
  }
}

.btn {
  color: #ffffff;
  background: #cccccc;
  border-radius: 8px;
  font-size: 16px;
  font-family: $f_ptsc;
  height: 40px;
  line-height: 40px;
  display: block;
  width: 312px;
  text-align: center;
  margin-top: 24px;
  border: none;

  &.btn-orange {
    background: $orange;

    &:hover {
      color: #ffffff;
    }
  }
}



.spinner {
  animation: 1s spinnow infinite linear;
  -moz-animation: 1s spinnow infinite linear;
  -webkit-animation: 1s spinnow infinite linear;
  -ms-animation: 1s spinnow infinite linear;
}

@-webkit-keyframes spinnow {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinnow {
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes spinnow {
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}


.file {
  &:before {
    content: attr(data-type);
    background: url("../img/file.png") no-repeat;
    display: inline-block;
    width: 40px;
    height: 54px;
    vertical-align: middle;
    box-sizing: border-box;
    padding-top: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 100%;
    margin-right: 10px;
    color: $blue;
  }
  &:after {
    content: '';
    background: url(../img/download.png);
    width: 9px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
  }
}