footer {
  border-top: #e6e6e6 1px solid;
  padding-top: 50px;
  padding-bottom: 40px;
  clear: both;

  .wraper {
    max-width: 1184px;
    margin: 0 auto;
  }

  h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  a {
    color: $blue;
  }

  .one-col {
    float: left;

    ul {
      margin-bottom: 32px;

      li {
        margin-bottom: 6px;
      }
    }

    .call {
      position: relative;
      font-size: 13px;
      display: inline-block;
      margin-bottom: 24px;

      &:after {
        content: '';
        background: url(../img/footer/phone.png) no-repeat;
        width: 23px;
        height: 17px;
        position: absolute;
        right: -30px;
      }
    }

    &:nth-child(1) {
      margin-left: 63px;
      max-width: 180px;
    }
    &:nth-child(2) {
      margin-left: 88px;
      max-width: 202px;
    }
    &:nth-child(3) {
      margin-left: 88px;
      max-width: 175px;
    }
    &:nth-child(4) {
      margin-left: 110px;
      max-width: 250px;

      a {
        display: block;
        margin-bottom: 6px;

        &.skype {

          &:before {
            content: '';
            background: url(../img/footer/skype.png) no-repeat;
            width: 11px;
            height: 11px;
            display: inline-block;
            margin-right: 6px;
          }
        }
      }

      p {
        margin-top: 24px;
        margin-bottom: 16px;
      }
    }
  }
  
  .btm {
    clear: left;
    margin-left: 63px;
    color: #7d7d7d;
    padding-top: 14px;
    font-size: 14px;
    line-height: 150%;

    a.sp {
      color: $blue;

      &:before {
        content: '';
        background: url(../img/sp.png) no-repeat;
        background-size: 100%;
        width: 14px;
        height: 14px;
        display: inline-block;
        margin-left: 4px;
        margin-right: 2px;
        vertical-align: middle;
      }
    }
  }
}