body.frontpage {

  #top {
    background: url("../img/bg_top.jpg") no-repeat top;
    background-size: cover;
    height: 449px;
    color: #ffffff;

    a {
      color: $link;
    }
  }

  header {

    .logo {
      background-image: url(../img/logo-bw.png);
    }

    .contact {

      b {
        color: #ffffff;
      }
    }

    nav {
      border-bottom-color: #5d5d5d;
    }
  }
}

#top {
  color: #000000;

  > .wraper {
    position: relative;
    max-width: 1183px;
    margin: 0 auto;
    padding-top: 61px;
  }

  h1 {
    margin: 0 30% 0 106px;
    font-size: 40px;
    line-height: 130%;
  }

  .stamp {
    position: absolute;
    right: 10px;
    top: 30px;
    width: 122px;
    height: 176px;
    background: url(../img/star-white.png);
    text-align: center;
    padding: 64px 60px 0;
    color: #ffffff;
    font-size: 16px;

    b {
      color: #1e90ff;
      font-size: 32px;
      display: block;
    }
  }

  .main-tabs, .filter {
    max-width: 1183px;
    margin: 30px auto;

    ul {
      text-align: center;

      li {
        display: inline-block;

        a {
          display: block;
          font-size: 16px;
          height: 36px;
          line-height: 36px;
          padding: 0 14px;
          border-radius: 12px;
          margin-bottom: 3px;
        }

        &.active a {
          color: #ffffff;
          background: $blue;
          font-weight: 700;
        }
      }
    }
  }

  .filter {
    max-width: 1080px;

    ul {
      text-align: left;
    }

    li {
      font-size: 16px;
      color: $blue;
      padding: 0;
      margin-right: 20px;
      height: 36px;
      box-sizing: border-box;
      border-radius: 4px;
      line-height: 34px;
      cursor: pointer;

      &:hover {
        color: $orange;
      }

      &.active {
        color: $blue;
        padding: 0 20px;
        border: $blue 1px solid;
      }
    }
  }

}

header {
  position: relative;
  height: 148px;

  .wraper {
    position: relative;
    max-width: 1200px;
    padding-top: 30px;
    margin: 0 auto;
  }

  .logo {
    background: url(../img/logo-color.png);
    width: 394px;
    height: 48px;
    display: block;
    margin: 0 auto;
  }

  .contact {
    position: absolute;
    top: 40px;
    right: 0px;
    font-size: 14px;
    text-align: center;

    b {
      display: block;
      font-size: 22px;
      color: #000000;
      font-family: $f_ptsc;
    }
  }

  nav {
    max-width: 1080px;
    margin: 30px auto 0;
    border-bottom: #dedede 1px solid;
    text-align: center;
    font-size: 20px;
    font-weight: $f_pts;
    height: 36px;

    a {
      display: inline-block;
      margin: 0 27px 10px;

      &.active {
        font-weight: 700;
        border-bottom: $blue 1px solid;
        height: 36px;
      }
    }
  }
}