#fader {
  position: fixed;
  z-index: 49;
  display: none;
  overflow: auto;
  background: rgba(48, 47, 48, 0.95);
  left: 0; right: 0;
  top: 0; bottom: 0;

  .backdoor {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    z-index: 1;
  }

  .popup {
    position: relative;
    z-index: 50;
    box-sizing: border-box;
    display: none;

    &.active {
      display: block;
    }

    &#complexLines {
      .content {
        padding: 48px 0 60px;
        max-width: 1183px;
        margin: 0 auto;
        color: #ffffff;

        h1 {
          font-size: 32px;
          margin-left: 106px;
        }

        .main {
          display: none !important;
        }

        img {
          width: 100%;
        }
        .images {
          margin-top: -30px;
        }

        .zoomIn {
          display: inline-block;
          color: #1e90ff;
          font-size: 16px;
          margin-right: 9px;
          float: right;
          border: #ffffff 2px solid;
          border-radius: 3px;
          padding: 7px 20px 8px 30px;

          &:before {
            content: '';
            background: url(../img/zoom_inv.png);
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: bottom;
            margin-right: 8px;
          }
        }

        .consist {
          margin-left: 106px;
          position: absolute;
          top: 130px;
          width: 370px;
          padding-right: 40px;

          .btn {
            display: none;
          }

          h4 {
            margin-bottom: 12px;
          }

          > span {
            display: inline-block;
            padding: 2px 12px;
            background: #1e90ff;
            border-radius: 4px;
            margin: 0 8px 8px 0;
            color: #ffffff;
          }
        }
      }
    }

    &.dialog {
      background: rgba(218, 218, 218, 0.9);
      width: 600px;
      padding: 60px 0 70px;
      margin: 160px auto 0;
      text-align: center;
      position: relative;
      color: #262626;
      border-radius: 5px;

      > .close {
        position: absolute;
        right: 13px;
        top: 13px;
        background: url("../img/close.png");
        width: 10px;
        height: 10px;
      }

      h2 {
        margin-bottom: 24px;
      }

      form {
        margin: 0 auto;

        label:nth-child(2) {
          input {
            border-radius: 0 0 4px 4px;
          }
        }

        button {
          margin: 16px 0 0;
          width: 260px;
        }

        .time {
          padding: 16px 0 10px;
          font-size: 16px;

          a {
            color: inherit;
            border-bottom: $black 1px dashed;
          }

          .hidden {
            display: none;
          }

          span {
            display: block;
            padding-bottom: 12px;
          }

          input {
            background: #ffffff;
            border: none;
            padding: 9px 16px 10px;
            height: 20px;
            line-height: 20px;
            color: $black;
            font-size: 16px;
            font-family: $f_pts;
            margin: 0 6px;
            width: 30px;
            text-align: center;
            border-radius: 4px;
          }

        }
      }

      .success {
//        position: absolute;
        margin: 36px auto 0;
        width: 260px;
        display: none;

        p {
          padding: 20px 0 55px;
          font-size: 16px;
          height: 20px;
        }

        a.close {
          display: block;
          box-sizing: border-box;
          border: $green 1px solid;
          width: 260px;
          height: 40px;
          background: url(../img/success.png) no-repeat center;
          border-radius: 4px;
        }
      }
    }
  }
}

