html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
	outline: none;
}
fieldset,img {
	border:0;
}
table, tr, td {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 700; 
}
h3 {
	font-weight: normal;
}
abbr,acronym { border:0;
}

header, nav, section, article, aside, footer {
	display: block;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #929292;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #929292;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #929292;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #929292;
}
