﻿<ul class="tabs" data-ajax="true" data-tabs="#production_inner-tabs_content">
  <li>Автоматический выдув
    <ul>
      <li class="active" data-hash="less2l"><a href="#less2l">Тара до 2 литров</a></li>
      <li data-hash="more2l"><a href="#more2l">Тара более 2 литров</a></li>
      <li data-hash="thick"><a href="#thick">Косметика, толстостенная тара</a></li>
      <li data-hash="pots"><a href="#pots">Банки, увеличенный диаметр горла</a></li>
      <li data-hash=handles"><a href="#handles">С автоустановкой ручки</a></li>
    </ul>
  </li>
  <li data-hash="semiautomatic"><a href="#semiautomatic">Полуавтоматический выдув</a></li>
</ul>

<div id="production_inner-tabs_content">
</div>
