﻿<div id="production_table-tabs_content" class="content">
  <h1>Автомат выдува бутылок из ПЭТ PN - PP2000E</h1>
  <div class="img">
    <img src="img/main/photo-1.png" />
    <span class="availability">В наличии на складе в Москве</span>
    <span class="leasing">Это <br>оборудование<br> доступно<br> в лизинг</span>
  </div>
  <div class="txt">
    <p>Автоматическая выдувная машина РN-PP 2000E предназначена для производства ПП (Полипропиленовых) бутылок объёмом от 0,1 до 0.6 литра, путём двухстадийного пневматического формования из предварительно разогретых заготовок (преформ). Для каждого типоразмера бутылки изготавливается своя пресс-форма, точно повторяющая внешний вид и геометрию бутылки, заданные заказчиком.</p>
    <p>Моноблоки серии DGF  предназначены для розлива и укупоривания ПЭТ-бутылок емкостью от 0,25 до 2 л газированными жидкостями производительностью до 24000 бут/час. </p>
    <h4>Конструктивно моноблок состоит из:</h4>
    <ul>
      <li>GX-200 встраиваются в линию, путём стыковки конвейеров с двух  сторон автомата</li>
      <li>все детали и механизмы контактирующие с продукцией изготовлены  	из нержавеющей стали</li>
    </ul>
    <p>Машина полностью автоматизирована после загрузки преформ в приемный бункер до подачи готовой продукции на воздушный транспортер и не требует постоянного присутствия обслуживающего персонала.</p>
    <p> Основным преимуществом данной модели является простота наладки, стабильность параметров выдува и качества продукции, её компактность и удобство в обслуживании. Уже через 15 минут после запуска машина готова выдавать продукцию.</p>
  </div>
</div>

<div class="big-table">
  <h2>Технические характеристики</h2>
  <div class="table-titles" data-maxheight="400">
    <table>
      <tr><td><span>Количество одновременно выдуваемых бутылок</span></td></tr>
      <tr><td><span>Максимальная производительность, шт/час</span></td></tr>
      <tr><td><span>Максимальный объём выдуваемой тары, л</span></td></tr>
      <tr><td><span>Максимальный наружный диаметр горловины бутылки, мм</span></td></tr>
      <tr><td><span>Максимальный диаметр выдуваемой бутылки, мм</span></td></tr>
      <tr><td><span>Максимальная высота выдуваемой бутылки, мм</span></td></tr>
      <tr><td><span class="fullwidth"><i>длина</i> Габаритные размеры, мм</span></td></tr>
      <tr><td><span class="fullwidth"><i>ширина</i></span></td></tr>
      <tr><td><span class="fullwidth"><i>высота</i></span></td></tr>
      <tr><td><span>Вес, кг</span></td></tr>
      <tr><td><span>Усилие смыкания пресс-формы, кг</span></td></tr>
      <tr><td><span> Суммарная мощность нагревательных элементов, кВт </span></td></tr>
      <tr><td><span>Количество элементов в цепи переноса</span></td></tr>
      <tr><td><span>Межосевое расстояние в цепи переноса преформ, мм </span></td></tr>
      <tr><td><span>Давление выдува, Бар </span></td></tr>
      <tr><td><span>Количество воздуха для выдува, л/мин</span></td></tr>
      <tr><td><span>Рабочее давление системы управления, Бар</span></td></tr>
      <tr><td><span>Количество воздуха для системы управления, л/мин</span></td></tr>
    </table>
  </div>
  <div class="table-content" data-maxheight="400">
    <table>
      <tr>
        <td></td>
        <td><span class="tab active"><a href="#" class="active">CN - CSSS2000</a></span>2</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>1</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>2</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>3</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>1</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>2</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>2</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>1</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>2</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>3</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>1</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>2</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>2</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>1</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>2</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>3</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>1</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>2</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>2</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>1</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>2</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>3</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>1</td>
        <td><span class="tab"><a href="#">CN - CSSS2000</a></span>2</td>
      </tr>
      <tr>
        <td></td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
        <td>2000 при 0.2 л</td>
      </tr>
      <tr>
        <td></td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
        <td>11.5</td>
      </tr>
      <tr>
        <td></td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
        <td>56</td>
      </tr>
      <tr>
        <td></td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
        <td>60</td>
      </tr>
      <tr>
        <td></td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
        <td>0.2</td>
      </tr>
      <tr>
        <td></td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
      </tr>
      <tr>
        <td></td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
      </tr>
      <tr>
        <td></td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
      </tr>
      <tr>
        <td></td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
      </tr>
      <tr>
        <td></td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
      </tr>
      <tr>
        <td></td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
      </tr>
      <tr>
        <td></td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
      </tr>
      <tr>
        <td></td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
      </tr>
      <tr>
        <td></td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
        <td>1830</td>
      </tr>
      <tr>
        <td></td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
        <td>940</td>
      </tr>
      <tr>
        <td></td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
        <td>1455</td>
      </tr>
      <tr>
        <td></td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
        <td>1000</td>
      </tr>
    </table>
  </div>
</div>

<div class="more-table">
  <a href="#">Все характеристики</a>
</div>
