﻿<h1>Автомат выдува бутылок из ПЭТ PN - PP2000E</h1>
<div class="img">
  <img src="img/main/photo-1.png" />
  <span class="availability">В наличии на складе в Москве</span>
  <span class="leasing">Это <br>оборудование<br> доступно<br> в лизинг</span>
</div>
<div class="txt">
  <p>Автоматическая выдувная машина РN-PP 2000E предназначена для производства ПП (Полипропиленовых) бутылок объёмом от 0,1 до 0.6 литра, путём двухстадийного пневматического формования из предварительно разогретых заготовок (преформ). Для каждого типоразмера бутылки изготавливается своя пресс-форма, точно повторяющая внешний вид и геометрию бутылки, заданные заказчиком.</p>
  <p>Моноблоки серии DGF  предназначены для розлива и укупоривания ПЭТ-бутылок емкостью от 0,25 до 2 л газированными жидкостями производительностью до 24000 бут/час. </p>
  <h4>Конструктивно моноблок состоит из:</h4>
  <ul>
    <li>GX-200 встраиваются в линию, путём стыковки конвейеров с двух  сторон автомата</li>
    <li>все детали и механизмы контактирующие с продукцией изготовлены  	из нержавеющей стали</li>
  </ul>
  <p>Машина полностью автоматизирована после загрузки преформ в приемный бункер до подачи готовой продукции на воздушный транспортер и не требует постоянного присутствия обслуживающего персонала.</p>
  <p> Основным преимуществом данной модели является простота наладки, стабильность параметров выдува и качества продукции, её компактность и удобство в обслуживании. Уже через 15 минут после запуска машина готова выдавать продукцию.</p>
</div>
